.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}
.mainCard{
  margin-top: 20px;
  margin-bottom: 20px;
}
body{
  background-color: darkgrey;
}
#UVText{
  font-size: medium;
}